@using BlazorServerSide.ViewModel
@page "/client"
@inject IUriHelper urihelper;

<h2>Adicionar Cliente</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Nome" class="control-label">Nome</label>
            <input asp-for="Nome" class="form-control" bind="@vm.Nome" />
        </div>
        <div class="form-group">
            <label asp-for="Sobrenome" class="control-label">Sobrenome</label>
            <input asp-for="Sobrenome" class="form-control" bind="@vm.Sobrenome" />
        </div>
        <div class="form-group">
            <label asp-for="Idade" class="control-label">Idade</label>
            <input asp-for="Idade" class="form-control" bind="@vm.Idade" />
        </div>

        <button class="btn btn-primary" onclick="@Create">Salvar</button>
    </div>
</div>

@functions {

    CustomerViewModel vm = new CustomerViewModel();

    void Create()
    {
        urihelper.NavigateTo("/fetchdata");
    }
}